* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#Parms {
  font: 13px arial;
}

#Parms tr:nth-child(13) td {
  border-top: 1px solid #aaa;
}

#Parms tr > *:nth-child(8),
#Parms tr > *:nth-child(13),
#Parms tr > *:nth-child(15) {
  border-left: 1px solid #333;
}

#Parms tr:nth-child(2) th,
#Parms th[rowspan] {
  border-bottom: 1px solid #333;
}

#Parms input {
  pointer-events: none;
}

#Parms th:nth-child(n+1):nth-child(-n+7) {
  background: gold;
  color: black;
}

#Parms th:nth-child(n+8):nth-child(-n+12) {
  background: lightgreen;
  color: black;
}

#Parms th:nth-child(n+13):nth-child(-n+14) {
  background: orange;
  color: black;
}

#Parms th:nth-child(15) {
  background: lightblue;
  color: black;
}

#Parms td:nth-child(7) {
  white-space: nowrap;
}

#Parms td:nth-child(n+7):nth-child(-n+12) {
  text-align: center;
}

#Main {
  zmax-width: 1200px;
  margin: auto;
  background: white;
  padding: 1em;
  border: 1px solid #ddd;
  position: relative;
}

#Playground a {
  font-size: 90%;
}

body {
  background: #f4f4f4;
  color: #222;
}

body, table {
  font: 14px verdana, DejaVu Sans;
}

h1 {
  font-size: 130%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
  color: #58b;
}

.indent {
  margin-left: 2em;
}

i {
  color: brown;
}

li + li{
  margin-top: 1.5em;
}

th {
  background: #333;
  color: white;
}

table {
  border: 1px solid black;
  border-spacing: 0; 
  empty-cells: show;
}

td, th {
  padding: 0.2em 0.5em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
}

th {
  text-align: center;
}

.new {
  color: green;
  font-weight: bold;
}

span.note {
  font-style: italic;
  color: #666;
  margin-left: 3em;
  position: absolute;
  left: 30em;
}

span.note em {
  font-style: normal;
}

select {
  width: 100%;
  background: lightyellow;
}

select:focus {
  background: yellow;
}

span.focused {
  color: green;
  font-weight: bold;
}
