@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#Usage i {
  color: brown;
}

#Usage u {
  color: blue;
  cursor: pointer;
}

#Usage li {
  padding-bottom: 0.5em;
}

.indent {
  margin-left: 2rem;
}

table {
  border: 1px solid black;
  border-spacing: 0; 
  empty-cells: show;
}

td, th {
  padding: 0.2em 0.5em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
}

th {
  text-align: center;
}

tr {
  text-align: top;
}

.hidden {
  display: none;
}

#Columns {
  font: 13px arial;
}

#Columns tr:nth-child(13) td {
  border-top: 1px solid #aaa;
}

#Columns tr > *:nth-child(8),
#Columns tr > *:nth-child(13),
#Columns tr > *:nth-child(15) {
  border-left: 1px solid #333;
}

#Columns tr:nth-child(2) th,
#Columns th[rowspan] {
  border-bottom: 1px solid #333;
}

#Columns input {
  pointer-events: none;
}

#Columns th:nth-child(n+1):nth-child(-n+7) {
  background: gold;
  color: black;
}

#Columns th:nth-child(n+8):nth-child(-n+12) {
  background: lightgreen;
  color: black;
}

#Columns th:nth-child(n+13):nth-child(-n+14) {
  background: orange;
  color: black;
}

#Columns th:nth-child(15) {
  background: lightblue;
  color: black;
}

#Columns td:nth-child(7) {
  white-space: nowrap;
}

#Columns td:nth-child(n+7):nth-child(-n+12) {
  text-align: center;
}

.checked::after {
  content: '\2713';
  font-weight: bold;
  color: blue;
}

h3 {
  color: #58b;
  font-size: 1rem;
}

th {
  background: #eee;
}

td p:first-of-type {
  margin-top: 0;
}

td p:last-of-type {
  margin-bottom: 0;
}

td {
  vertical-align: top;
}

nav {
  background: #333;
}

nav button {
  width: 8rem;
  height: 2rem;
}

.selected {
  background: #58b;
  color: white;
}

.selected u {
  color: white !important;
}

#Screen {
  padding: 0.5rem;
}

#Database u {
  color: blue;
  cursor: pointer;
}

.scroller {
  overflow: auto;
  position: relative;
  height: calc(16 * 32px);
  background: #bbb;
}

.scroller > div {
  height: 1000rem;
}

.scroller tr {
  height: 32px;
}

.scroller table {
  position: fixed;
  background: white;
}